<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" align="center">
    <strong>Error!</strong> Your username or password does not match. Please try again.
</div>
{% endif %}

{% load staticfiles %}
<form method="post" action="{% url 'login' %}" style="padding: 10px; text-align: center; width: 600px; margin: 0 auto;">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Login" class="btn btn-success btn-sm">
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}