<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <title>Django NMS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}" />
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'devices:index' %}"><strong>Django NMS</strong></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'devices:index' %}"><strong>Devices</strong></a></li>
                        <li class="active"><a href="{% url 'get:index' %}"><strong>Get Requests</strong></a></li>
                        <li><a href="#">SET Requests</a></li>
                        <li class="active"><a href="{% url 'admin:index' %}"><strong>Administration</strong></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> <strong>Logout</strong> {{ user.username }}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> <strong>Login</strong></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="content container-fluid">
                <div class="col-md-3" id="content_menue">
                    {% block menue %}
                    {% endblock %}
                </div>
                <div class="col-md-8" id="content_data">
                        {% block content %}
                        {% endblock %}
                </div>
            </div>
            <footer class="footer" id="footer">
                <div class="footer_content container">
                    <p class="text-muted" align="center">Django NMS (release alpha v0.1.13)</p>
                </div>
            </footer>
        </div>
    </body>
</html>
