<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block menue %}

    <div class="list-group">
        <a class="list-group-item active" style="align-content: center; margin: auto">{{ device_obj.ip_address }}</a>
        <a href="{% url 'devices:instances' device_obj.ip_address %}" class="list-group-item">Instances</a>
        <a href="{% url 'devices:rib' device_obj.ip_address%}" class="list-group-item">RIBs</a>
        <a href="{% url 'devices:arp' device_obj.ip_address %}" class="list-group-item">ARP Tables</a>
        <a href="{% url 'devices:routes' device_obj.ip_address %}" class="list-group-item">Route Table</a>
        <a href="{% url 'devices:interfaces' device_obj.ip_address %}" class="list-group-item">Interfaces</a>
        <a href="{% url 'devices:sub_interfaces' device_obj.ip_address %}" class="list-group-item">Sub-Interfaces</a>
    </div>

{% endblock %}
{% block content %}

    <div class="content_detail_not_default well" style="max-width: 500px; margin: auto;">
        <h4 align="center">{{ device_obj.ip_address }}</h4>
        <div class="device_description_container" id="test">
            <p><b>Description: </b>{{ device_obj.description }}</p>
            <p><b>Hostname: </b>{{ device_obj.hostname }}</p>
            <p><b>FQDN: </b>{{ device_obj.fqdn }}</p>
            <p><b>Model: </b>{{ device_obj.model }}</p>
            <p><b>Has 2 Routing Engines: </b>{{ device_obj.two_re }}</p>
            <p><b>Software version: </b>{{ device_obj.version}}</p>
            <p><b>Serial number: </b>{{ device_obj.serialnumber }}</p>
            <p><b>UP time: </b>{{ device_obj.up_time}}</p>
            <p><b>Updated at: </b>{{ device_obj.last_checked_time|date:'l M o H:i:s O T' }}</p>
            {% if device_obj.last_checked_status %}
                <p><b>Status:</b> UP</p>
            {% else %}
                <p><b>Status:</b> DOWN</p>
            {% endif %}
        </div>
    </div>
    <br>
    <input type="button" value="UPDATE" class="btn btn-success btn-lg", style="margin: auto; position: relative; left: 45%" , aria-label="{{ device_obj.ip_address }}" onclick=device_update_detail($(this))>

    {% load static %}
    <script type="text/javascript" src="{% static "devices/js/device_update.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}">

{% endblock %}
</html>

