<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

{% if device_list %}
    {% for device in device_list %}
        <div class="device">
            <h1><a href="{% url 'devices:detail' device.ip_address %}">{{ device.ip_address }}</a></h1>
            <p> {{ device.name }}</p>
            <p>{{ device.platform }}</p>
        </div>
        <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td width="200" valign="top">
                    <input type="button" value="UPDATE" class="btn btn-success btn-sm">
                </td>
                <td valign="top">
                    <input type="button" value="EXECUTE" class="btn btn-danger btn-sm">
                </td>
            </tr>
        </table>
    {% endfor %}

    {% if is_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    {% endif %}

{% else %}
    <p>No network devices have been added yet.</p>
{% endif %}
{% endblock %}
</html>
