<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block menue %}

{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'set/css/configurations_style.css' %}" >
    <script type="text/javascript" src="{% static "set/js/set_scripts.js" %}"></script>


    <div class="content_detail well" style="max-width: 500px; margin: auto;">
    <h4 align="center">Upload Configurations</h4>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p}}
            <input type="submit" value="Upload files" class="btn btn-success btn-lg"/>
        </form>
    </div>

    <br>
    {% if error %}
        <p style="color: crimson">{{ error }}</p>
    {% endif %}
    {% if configurations_list %}
        <table class="table table-striped table-hover">
            <tr class="success">
                <th>File name</th>
                <th>MIME type</th>
                <th>Description</th>
                <th><input type="button" value="Delete" class="btn btn-danger btn-sm" onclick=configuration_delete()></th>
        {% for config in configurations_list %}
            <tr class="chain_table_row" aria-label="{{ config.id }}">
                <td><a href="{% url 'set:configurations_detail' config.id %}">{{ config.name }}</a> </td>
                <td>{{ config.mime_type }}</td>
                <td>{{ config.description }}</td>
                <td><input type="checkbox" value="" aria-label="{{ config.id }}"></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Configuration files have not been added yet...</p>
    {% endif %}

{% endblock %}

</html>
