<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block menue %}

    <div class="list-group">
        <a class="list-group-item active" style="align-content: center; margin: auto">Single GET request</a>
        <a href="{% url 'get:chain_list'%}" class="list-group-item">Chain GET requests</a>
    </div>

{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}" >

    <div class="content_detail well" style="max-width: 500px; margin: auto;">
    <h4 align="center">Simple GET form</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p}}
            <input type="submit" value="Send request" class="btn btn-success btn-lg"/>
        </form>
    </div>

    {% if response %}
        {{ response }}
    {% endif %}
    {% if error %}
        {{ error }}
    {% endif %}

{% endblock %}

</html>
